.healthyPrivacy .healthyBody .text span.title{
	margin-bottom: 7.5px;
}
.healthyPrivacy .healthyBody .page .con{
	line-height: 29px;
}
.healthyPrivacy .healthyBody .page.bg{
	z-index: 1;
	margin-top: -98px;
}
